
body{
    margin: 0 auto;
    background-color: #F2F2F2;
}

.head{
    background-color: #F2A7AD;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.head1{
    display: flex;
    align-items: center;
    color: #f70354;
    font-size:smaller;
}
#tma {
    color: white;
}
.head1 img{
    width: 30px;
    height: 30px;
    padding: 0px 6px;
}
.head2 nav{
    display: flex;
    gap: 16px;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: overline;
    color: #f70354;
}
.login{
    text-align: center;
    text-decoration: none;
    background-color:#F2A7AD;
    border: white 2px solid;
    border-radius: 10px;
    padding: 0px 10px;
    color: white;
    margin-left: 5px;
}
.login:hover{
    background-color: white;
    color: #f1a1bc;
    transition-duration: 200ms;
}

.container{
    width: 100%;
    display:flex ;
    justify-content: center;
}
.cuadro{
    margin: 5%;
    display: grid;
    align-items: center;
    justify-self: center;
    width: 70vh;
    height: 70vh;
    border-radius: 10px;
    background-color: #F2A7AD;
}
.c1{
    display: grid;
    align-items: center;
    justify-content: center;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white; 
    font-size: 150%;
    border-bottom: 2px white solid;
}
.c2{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 200%;
    padding: 20px 0px;
}
.c2 a{
    text-align: center;
    border: 2px white double;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white; 
    padding: 0px 5px;
    height: 65px;
    margin: 0px 5%;
}
.c2 a:hover{
    
    background-color:white;
    color: #F2A7AD;
    border: #F2A7AD;
    height: 120px;
    transition-duration: 150ms;
}
.c2 a:hover p{
    visibility: visible;
}
.c2 p{
    background-color: white;
    visibility: hidden;
    color: gray;
    font-size: 38%;
    border-radius: 10px;
}
#registro{
    height: 100vh;
}
.formulario {
    background-color:#F2A7AD;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: 4%;
    display: flex;
    gap: 12px;
    border-radius: 5px;
    height: 60vh;
    margin: 4% 5%;
    justify-content: center;
    text-align: center;
}
.formulario h3{
    text-align: center;
    font-weight: 100;
    margin: 0% 20%;

}
.formulario input{
    background-color:#F2A7AD;
    border: 2px solid white;
    color: white;
    margin: 0% 20%;
}
.formulario input::placeholder{
    color: white;
}
.formulario select{
    border: 2px solid white;
    background-color: #F2A7AD;
    color: white;
    margin: 0% 20%;
}
.formulario a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30%;
    border-radius: 10px;
    text-decoration: none;
    color:#ee82ca;
    font-weight: 800;
    margin-top: 10px;
}
.form{
    margin: 10px;
    background-color: #F2A7AD;
    width: 40%;
    display: grid;
    gap: 5px;
    padding: 20px 0px;
}


#page{
    display: flex;
    justify-content: left;
    height: 100vh;
}
.perfil{
    display:grid;
    align-items: start;
    justify-content: start;
    text-align: left;
    background-color: #F2A7AD;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1%;
    margin-left: 1%;
    height: 100%;
    padding: 0px 3%;
    
}
.perfil img{
    width: 10vh;
    height: 10vh;
}
#info2 {
    border-bottom: 2px solid white;
}

.banner{
    background-image: url(/images/lazo.jpg);
    background-color: #f70354;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size:cover;
    background-position: center;
}
.banner img{
    height: 80%;
    width: 100%;
}

.ban{
    background-color: #f70354;
    margin: 5px;
    height: 200px;
    width: 100px;
    padding: 10px 50px;
    color: white;

}
.datos{
    display: flex;
    height: 100px;
}

.pag{
    display: none;
    position: absolute;
}
.reg:hover .pag{
    display: block;
}



.button{
    font-weight: bold;
    background-color: white; 
    border: 2px solid pink; 
    padding: 8px 16px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px; 
    margin-left: 10px;
    border-width: 3px;
}

.notifications a {
    color: pink; /* Color del texto */
    text-decoration: none;
    font-weight: bold;
}

.alert{
    background: rgb(254, 212, 219);
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 55px;
    border-radius: 4px;
    border-left: 4px solid rgb(250, 74, 103); 
    overflow: hidden;
}
.alert.hide{
    display: none;
}
@keyframes show_notification{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert .warning{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(215, 48, 76);
    font-size: 30px;

}

.alert .message{
    padding: 0 20px;
    font-size: 18px;
    color: rgb(208, 50, 76);

}

.alert .close{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(254, 167, 181);
    padding: 25px 15px;
    cursor: pointer;

}
.close:hover{
    background: rgb(254, 167, 181);
}

.close .est{
    color: rgb(215, 48, 76);
    font-size: 22px;
    line-height: 40px;


}

#maps{
margin: 10% 1% 2% 0%;
    display: flex;
    justify-content: end;
}
#map{
    background-color:gray;
    padding: 10px;
}

.calculo{
    margin-top: 10%;
}
#dosis{
    display: grid;
    gap: 5px;
    background-color: #ee82ca;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
}
.button2{
    text-decoration: none;
    padding: 2px 5px;
    background-color: white;
    color: #ee82ca;
    font-weight: 600;
    margin: 0px 30%;
    border-radius: 5px;
    text-align: center;
}